body {
    flex: 1;
    background-color: #d8d9da;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.submitButton {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    margin-top:20px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.greetingDiv {
    color: darkcyan;
    font-size: 25px;
    margin-bottom: 40px;
}

.validator{
    color:red;
    font-size:15px;
    margin-left:20px;
    margin-top: 5px;
    font-style:italic;
    font-weight:300;
}