.formContainer {
    flex: 1;
    flex-direction: column;
    gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.titleHeader{
    font-size:30px;

}

.searchContainer {
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    margin-bottom: 20px;
}

.submitButton {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}